
.super-product {
	background-image: url();
	color: $main-text-color;
	background: url('../assets/super-product/background.png') 0 0 no-repeat;
	//background-size: cover;
 
	&__wrapper {
	  display: flex;
	  flex-direction: column;
 
	  padding: 215px 0;
	}
 
	&__main-info {
	  display: flex;
	  flex-direction: column;
 
	  max-width: 33%;
	}
 
	&__title {
	  font-weight: bold;
	  font-size: 4.8rem;
	  line-height: 5.6rem;
	}
 
	&__subtitle {
	  font-size: 1.4rem;
	  line-height: 2rem;
	}
 
	&__button {
	  background: transparent;
	  border-color: $primary2;
	  color: $main-text-color;
 
	  max-width: 170px;
	}
 
	&__title,
	&__subtitle {
	  margin-bottom: 55px;
	}
 }