
$sponsor-item-width: 150px;
$sponsor-item-height: 50px;

.sponsor-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 35px 60px;

  background: $primary2;
  border: 0.5px solid $primary3;

  &__img {
    width: $sponsor-item-width;
    height: $sponsor-item-height;
  }
}